@{
	ViewData["Title"] = "Index";
}

<style>
	.green-header {
		background-color: greenyellow;
	}

	.center {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 35%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
</style>

<div class="center">
	<h2><span class="green-header">Application WindPowerSystemV2 works</span></h2>
</div>

